mat-nav-list.pokemons{
  max-height: 100%;
  overflow: auto;
}

input.search-pokemon{
  padding: 5px;
  margin-left: 8%;
  border-radius: 3px;
  border:none;
  align-content: center;
}

h2.title {
  text-align: center;
}
